<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Crop Prediction</h1>

    <form action="/predict" method="post">
        <label for="N">Nitrogen (N):</label><br>
        <input type="number" id="N" name="input_data[]" min="0" required><br>

        <label for="P">Phosphorus (P):</label><br>
        <input type="number" id="P" name="input_data[]" min="0" required><br>

        <label for="K">Potassium (K):</label><br>
        <input type="number" id="K" name="input_data[]" min="0" required><br>

        <label for="temperature">Temperature:</label><br>
        <input type="number" id="temperature" name="input_data[]" min="0"><br>

        <label for="humidity">Humidity:</label><br>
        <input type="number" id="humidity" name="input_data[]" min="0" required><br>

        <label for="ph">pH:</label><br>
        <input type="number" id="ph" name="input_data[]" min="0" required><br>

        <label for="rainfall">Rainfall:</label><br>
        <input type="number" id="rainfall" name="input_data[]" min="0" required><br>

        <input type="submit" value="Predict">
    </form>
    {% if prediction %}
    <p>Predicted Crop: {{ prediction }}</p>
    {% endif %}

</body>

</html>
